<%- include('../partials/header') %>

<h3 class="elist">Create New Event</h3>
<div class="container">
<form class="new-form" action="/events" method="POST">
  <label>Event Name:<br>
    <input type="text" name="title">
  </label><br><br>
  <label>Date:<br>
    <input type="date" name="date">
  </label><br><br>
  <label>Category:<br>
    <input type="text" name="category">
  </label><br><br>
  <label>Destination:<br>
    <input type="text" name="destination">
  </label><br><br>
  <label>Details:<br>
    <input type="text" name="details">
  </label><br><br>
  <label> Created by <%= user.name %></label>
  <input type="hidden" name="user" value="<%= user._id %>">
  <button type="submit">Add New Event</button>
  

</form>
</div>
  
</body>
</html>


