<%- include('../partials/header') %>

<form action="/events" method="POST">
  <label>Event Name:
    <input type="text" name="title">
  </label><br><br>
  <label>Date:
    <input type="date" name="date">
  </label><br><br>
  <label>Category:
    <input type="text" name="category">
  </label><br><br>
  <label>Destination:
    <input type="text" name="destination">
  </label><br><br>
  <label>Details:
    <input type="text" name="details">
  </label><br><br>
  <label> Created by <%= user.name %></label>
  <input type="hidden" name="user" value="<% user %>">
  <button type="submit">Add New Event</button>
  

</form>
  
</body>
</html>


