<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/events" <%- title === 'Events List' ? 'class="active"' : '' %>>Events List</a>
      <% if (user) { %>
        <a href="/logout">Log Out</a>
        Currently logged in as <%= user.name %>
        <a href="/events/new" <%- title === 'Add Event' ? 'class="active"' : '' %>>New Event</a>
        <% } else { %>
          <a href="/auth/google">Log In</a>
        <% } %>
    </nav>