<head>
  <title> <%= title %> </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/87e74bfe8f.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <nav class="navbar navbar-expand-md bg-light navbar-light">
        <!-- Brand -->
        <div class="container3">
        <a class="blogo" href="../"><img id="logoid" src="../../images/transparent.png"></a>
        </div>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
                <% if (user) { %>
                  <a class="nav-link" href="../../events/new">New Event</a>
                <% } %>
            </li>
            <li class="nav-item">
                <% if (user) { %>
              <a class="nav-link" href="../../events/">Events List</a>
                <% } %>
            <li class="nav-item">
                <% if (user) { %>
                  <a class="nav-link" href="../../users/profile">Profile</a>
                <% } %>
            </li>
            <li class="nav-item">
                <% if (user) { %>
                  <a href="/logout" class="nav-link logout">Log Out</a>
                  <!-- <%= user.name %> -->
                  <% } else { %>
                    <a href="/auth/google" class="nav-link bg-light">Log In</a>
                  <% } %>
            </li> 
          </ul>
        </div> 
      </nav>
