<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a href="/events/new" <%- title === 'Add Event' ? 'class="active"' : '' %>>New Event</a>
        <a href="/events" <%- title === 'Events List' ? 'class="active"' : '' %>>Events List</a>
    </nav>