body {
  display: flex;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 150vmin;
  align-items: center;
  justify-content: center;
}

a {
  color: #00B7FF;
}

a.login {
  color: white;
}