body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100fr;
  align-items: center;
  justify-content: center;
}

.glogo {
  width: 20px;
  margin-right: 7px;
  margin-bottom: 3px;
}

.logo {
  margin-top: 200px;
  width: 226px;
  margin-bottom: 0px;
}

.signin {
  margin-bottom: 100px;
}

h3.elist {
  margin-top: 26px;
  font-size: 22px;
  margin-left: 14px;
}

.btnsort {
  color: black;
}

button {
  margin-left: 14px;
}

.card {
  margin: 14px;
  border-radius: 25px;
  padding: 13px;
}

img.evt {
  border-radius: 25px;
}

h6 {
  color: grey;
}

.card-icon {
  height: 18px;
  margin-bottom: 3px;
  margin-right: 7px;
}

.card-icon-s {
  width: 20px;
  margin-right: 40px;
}

input {
  width: 340px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: lightgrey;
  height: 40px;
}

.new-form {
  text-align: center;
  margin-top: 35px;
}

.new-form > label {
  margin: 10px 0px;
  text-align: left;
}

.new-form-time > label {
  margin: 10px 0px;
  text-align: left;
}

.date-form {
  border-width: 0 0 2px;
  border-radius: 0px;
  width: 200px;
} 

.time-form {
  border-width: 0 0 2px;
  border-radius: 0px;
}

.inp-loc {
  width: 20px;
}

.inp-loc-bg {
  background: url(/images/location.png) no-repeat scroll 7px 10px;
  background-size: 20px;
  padding-left: 35px;
}

.btn-create {
  width: 250px;
  height: 45px;
  background-color: lightgrey;
  border: none;
  margin-top: 25px;
}

.btn-register {
  width: 250px;
  height: 45px;
  background-color: lightgrey;
  border: none;
  margin-top: 90px;
}

div.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-evt-det {
  justify-content: center;
  margin: 0;
}

.event-show {
  display: grid;
  width: 375px;
  grid-template-columns: 25% 75%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  margin-top: 36px;
}

h5.card-title-show {
  grid-column-start: 2;
  font-size: 22px;
}

h6.card-text-show {
  grid-column-start: 2;
}

div.card-text-show {
  grid-column-start: 2;
  margin-bottom: 15px;
}

img.card-icon-s {
  display: grid;
  grid-column-start: 1;
  margin: 0 35px;
}