<%- include('../partials/header') %>
<div class="containerp">

  <div class="container flex-column">
    <img class="img-prf" src="//placehold.it/123" alt="">
    <h6><%= user.name %></h6>
  </div>
  <h3 class="elist">My Events</h1>
    <div class="card flex-row flex-wrap">
      <img class="evt" src="//placehold.it/100" alt="">
      <div class="card-block px-3">
        <h5 class="card-title">Title</h5><br>
        <h6 class="card-text"><img class="card-icon" src="/images/calendar.png">Date / Time</h6>
        <h6 class="card-text"><img class="card-icon" src="/images/location.png">Location</h6>
      </div>
    </div>
  </div>
    